.patients-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    background: #FFFFFF;
    border-bottom: 1px solid #D9E1EA;
    box-shadow: 0px 1px 2px 0px #1018280A;
    box-shadow: 0px 2px 6px 0px #1018280A;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px 20px 10px 20px;
    gap: 5px;
}

.header-actions{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
}


.header div{
    width: 100%;
}
.header div h2{
    font-weight: 600;
    font-style: Semi Bold;
    font-size: 20px;
}

.header div p{
    font-weight: 300;
    font-style: Regular;
    font-size: 14px;
    color: #4F5548;
}


.content {
    flex: 1;
    height: 100%;
    background: #F9FAFB;
}


.search-input{
    flex-grow: 1;
    max-width: 300px;
    width: 100%;
    min-width: 50px;
    padding: 10px;
    margin: 0px;
    border: 1px solid #D9E1EA;
    color: #8A96A8;
    border-radius: 10px;
}

.add-patient-button{
    background: #163B63;
    color: #FFFFFF;
    border: none;
     max-width: 140px;
    width: 100%;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

.filter-button{
    background: #DDEAF5;
    color: #FFFFFF;
    border: none;
    padding: 5px;
    margin: 0px;
    border-radius: 10px;
}

.row{
    gap : 10px;
    color: white;
}

.row p {
    color: white !important;
}